# macOS junk files
.DS_Store
.vscode/

# Node / JS dependencies
node_modules/

# Logs
*.log

# OS temp files
*.tmp

# Python
.venv/
*.pyc
__pycache__/

# Environment variables
.env

.vercel
.env*.local
