* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}

html {
  font-size: 9px;
}

@media (min-width: 1300px) {
  html {
    font-size: 10px;
  }
}

@media (min-width: 1500px) {
  html {
    font-size: 12px;
  }
}

/* PAGE */
.container {
  min-height: 100vh;
  padding: 4rem;
  background: linear-gradient(360deg, #0a152e 0%, #bfcce8 100%);
}

/* HEADER */
header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 10rem;
}

.title {
  font-size: 4.8rem;
  margin: 0;
  display: block;
}

.subtitle {
  color: #555;
  font-size: 2rem;
  display: block;
}

.primary-btn {
  background: #0a152e;
  color: white;
  border-radius: 1.2rem;
  font-size: 1.6rem;
  cursor: pointer;
  padding: 1.2rem 2.4rem;
  border: none;
  position: absolute;
  top: 3rem;
  right: 3rem;
}

/* MAIN */
section {
  display: flex;
  gap: 3.5rem;
}

/* PANELS */
.left-panel,
.right-panel {
  background: white;
  border-radius: 1.6rem;
  padding: 2rem;
  box-shadow: 0 0.2rem 0.8rem rgba(0, 0, 0, 0.08);
}

.right-panel {
  padding: 5rem;
  text-align: center;
  flex-grow: 1;
}

.left-panel {
  width: 44rem;
  height: 54rem;
  display: flex;
  flex-direction: column;
}

/* PANEL HEADER */
.panel-header {
  display: flex;
  gap: 1.2rem;
  align-items: center;
  margin-bottom: 3.2rem;
}

.active-queue {
  font-size: 2.5rem;
}

.icon-box {
  background: #0a152e;
  padding: 1rem;
  border-radius: 1.2rem;
}

.icon-arrow-up {
  width: 2.4rem;
  height: 2.4rem;
  color: white;
}

/* EMPTY STATE */
.empty-state {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon-user,
.three-bars {
  width: 3.5rem;
  height: 3.5rem;
  color: white;
}

.empty-icon,
.bar-icon {
  background: #aaa9a9;
  padding: 1.3rem;
  border-radius: 1.5rem;
  margin-bottom: 2rem;
}

.empty-title {
  font-weight: 600;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.empty-text {
  color: #9ca3af;
  font-size: 1.5rem;
}

/* Join Overlay */
.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.pop-up {
  background: rgba(10, 21, 46, 0.9);
  padding: 3rem 3rem 3rem 3rem;
  border-radius: 1.6rem;
  width: 70rem;
  height: auto;
  text-align: center;
}

.join-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
}

.join-queue {
  font-size: 3rem;
  color: white;
  text-align: left;
}

.bar-icon {
  background-color: #bfcce8;
  width: 6rem;
  align-self: center;
}

.three-bars {
  width: 3rem;
  height: auto;
}

.button {
  display: flex;
  gap: 1rem;
  justify-content: end;
}

.modal-subtitle {
  color: #888;
  font-size: 1.6rem;
  text-align: left;
}

.input {
  width: 100%;
  padding: 1rem 0 1rem 1rem;
  border-radius: 1rem;
}

label {
  color: white;
  font-size: 1.6rem;
  text-align: left;
  display: block;
}

.overlay.active {
  display: flex;
}

.join-btn, .QR-btn {
  width: auto;
  padding: 1rem 1.8rem;
  font-size: 1.8rem;
  font-weight: 600;
  border: none;
  border-radius: 1rem;
  background: black;
  color: white;
  cursor: pointer;
}

.join-btn:active {
  background-color: white;
  color: black;
}

/*Help Overlay */
.help-btn {
  position: fixed;
  bottom: 4rem;
  right: 4rem;
  width: 5.6rem;
  height: 5.6rem;
  border-radius: 50%;
  border: none;
  background: #0a152e;
  color: white;
  font-size: 2.4rem;
  cursor: pointer;
}

.overlay-help {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.pop-up-help {
  background: rgba(10, 21, 46, 0.9);
  padding: 5rem 3rem 3rem 3rem;
  border-radius: 1.6rem;
  width: 70rem;
  height: auto;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 3rem;

}

.overlay-help.active {
  display: flex;
}

.x-button{
  width: 2rem; 
  height: auto;
  background: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 2rem;
  left: 2rem;
}

.x-mark{
  width: 2rem;
  height: auto;
  color: rgba(255, 255, 255, 0.889);
}

.need-help{
  color: rgba(255, 255, 255, 0.889);
  font-size: 2.5rem;;
}

.help-list{
  color: rgba(255, 255, 255, 0.889);
  text-align: left;
  font-size: 1.5rem;
  content: none;
}

.help-list li:not(:first-child){
  margin-top: 4rem;
}

.help-list li p{
  margin-top: 1rem;
  color: rgba(255, 255, 255, 0.889);
}
/*Done*/

/* JS Styles */
/* Left Panel */
.queue-item {
  background-color: white;
  color: black;
  border-radius: 1rem;
  border: #999 solid 0.1rem;
  width: 100%;
  padding: 2rem 1rem;
  position: relative;
  text-align: left;
}

.queue-item.selected {
  background-color: #bfcce8;
  color: black;
  border: 0.1rem solid #dcdbdb;
  box-shadow: 0.3rem 0.5rem 0.5rem #b0b0b0;
}

.left-empty-state {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex: 1;
  overflow-y: auto;
  min-height: 0;
}

.queue-name {
  font-size: 2rem;
}

.queue-item-icon {
  width: 1.7rem;
  height: auto;
}

.queue-number {
  display: flex;
  position: absolute;
  bottom: 0.5rem;
  right: 1rem;
}
.queue-icon {
  color: #555;
  width: 1.7rem;
  height: auto;
}

.position {
  color: #555;
  font-size: 1rem;
}

/* Right Panel */
.right-empty-state {
  width: 100%;
  height: 100%;
}

.queue-details {
  width: 100%;
  height: 75%;
  color: rgba(255, 255, 255, 0.862);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 3rem;
  background: #0f1f45;
}

.your-token-number {
  font-size: 1.5rem;
}

.token-number {
  font-size: 4rem;
}

.queue-position {
  font-size: 1.5rem;
}

.flex {
  display: flex;
  width: 100%;
  height: 40%;
  justify-content: space-between;
  gap: 1rem;
  margin-top: 2rem;
}

.buffer-status {
  border: 0.1rem solid #dcdbdb;
  border-radius: 1rem;
  flex-grow: 1;
  padding: 1rem 1rem 2rem 1rem;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  justify-content: space-between;
}

.current-status,
.status-val,
.buffer,
.buffer-time,
.ET,
.EWT {
  font-size: 2rem;
}

.current-status,
.buffer,
.ET {
  text-align: left;
}

.leave-queue {
  margin-top: 2rem;
  padding: 1rem 5rem;
  font-size: 2rem;
  background-color: #da0d0d;
  color: white;
  border: none;
  border-radius: 1rem;
}

.leave-queue:active {
  margin-top: 2rem;
  padding: 1rem 5rem;
  font-size: 2rem;
  background-color: #d93a3a;
  color: white;
  border: none;
  border-radius: 1rem;
}

.flex-note {
  display: flex;
  border: 0.1rem solid #dcdbdb;
  backdrop-filter: blur(0.8rem);
  margin-top: 1rem;
  border-radius: 1rem;
  padding: 1rem 1rem;
  gap: 0.3rem;
}

.note {
  width: 100%;
  font-size: 1.3rem;
  color: #555;
}

.note-icon {
  width: 1.6rem;
  height: auto;
  color: #555;
}
