* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}

html {
  font-size: 9px;
}

@media (min-width: 1300px) {
  html {
    font-size: 10px;
  }
}

@media (min-width: 1500px) {
  html {
    font-size: 12px;
  }
}

/* PAGE */
.container {
  min-height: 100vh;
  padding: 4rem;
  background: linear-gradient(360deg, #0a152e 0%, #bfcce8 100%);
}

/* HEADER */
header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 10rem;

}

.title {
  font-size: 4.8rem;
  margin: 0;
  display: block;
}

.subtitle {
  color: #555;
  font-size: 2rem;
  display: block;
}

/* BUTTON */
.primary-btn {
  background: #0a152e;
  color: white;
  border-radius: 1.2rem;
  font-size: 1.6rem;
  cursor: pointer;
  padding: 1.2rem 2.4rem;
  border: none;

  position: absolute;
  top: 3rem;
  right: 3rem;
}

.plus {
  font-size: 2.cqmax;
}

/* MAIN */
section {
  display: flex;
  gap: 2.4rem;
}

/* PANELS */
.left-panel,
.right-panel {
  background: white;
  border-radius: 1.6rem;
  padding: 2rem;
  box-shadow: 0 0.2rem 0.8rem rgba(0,0,0,0.08);
}

.right-panel {
  padding: 8rem;
  text-align: center;
  flex-grow: 1;
}

.left-panel{
    width: 44rem;
    height: 50rem;
}

/* PANEL HEADER */
.panel-header {
  display: flex;
  gap: 1.2rem;
  align-items: center;
  margin-bottom: 3.2rem;
}

.active-queue{
    font-size: 2.5rem;
}

.icon-box {
  background: #0a152e;
  padding: 1rem;
  border-radius: 1.2rem;
}

.icon-arrow-up {
  width: 2.4rem;
  height: 2.4rem;
  color: white; 
}

/* EMPTY STATE */
.empty-state {
  text-align: center;
  padding: 4rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon-user, .three-bars{
  width: 3.5rem;
  height: 3.5rem;
  color: white;
}

.empty-icon, .bar-icon {
  background: #aaa9a9;
  padding: 1.3rem;
  border-radius: 1.5rem;
  margin-bottom: 2rem;
}

.empty-title {
  font-weight: 600;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.empty-text {
  color: #9ca3af;
  font-size: 1.5rem;
}

/* HELP BUTTON */
.help-btn {
  position: fixed;
  bottom: 4rem;
  right: 4rem;
  width: 5.6rem;
  height: 5.6rem;
  border-radius: 50%;
  border: none;
  background: #1a1a1a;
  color: white;
  font-size: 2.4rem;
  cursor: pointer;
}



/* Overlay */
.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  display: none;              
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

/* Popup box */
.pop-up {
  background:rgb(10, 21, 46, 0.9);
  padding: 3rem 3rem 3rem 3rem;
  border-radius: 1.6rem;
  width: 70rem;
  height: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  gap: 3rem;
}

.join-queue{
    font-size: 3rem;
    color: white;
    text-align: left;
}

.bar-icon{
    background-color: #bfcce8;
    width: 6rem;
    align-self: center;
}

.three-bars{
    width: 3rem;
    height: auto;
}

.button{
    display: flex;
    gap: 2rem;
    justify-content:end;
}

.modal-subtitle{
    color:#888;
    font-size: 1.6rem;
    text-align: left;
}

.input{
    width:100%;
    padding: 1rem 0 1rem 1rem;
    border-radius: 1rem;
    
}

label{
    color: white;
    font-size: 1.6rem;
    text-align: left;
    display: block;
}

/* Show popup */
.overlay.active {
  display: flex;
}



/* JOIN BUTTON */
.join-btn {
  width: auto;
  padding: 1rem 1.8rem;
  font-size: 1.8rem;
  font-weight: 600;
  border: none;
  border-radius: 1rem;
  background: black;
  color: white;
  cursor: pointer;
}

.closePopup{
    background-color: white;
    color: black;
}
